html, body {
  font-size: 16px;
}

.gml-body{
  background-color:#dddddd;
  font-family:Georgia;
  color:#333333;
  padding:20px;
  max-width: 700px;
  margin: auto;
  font-size: 1.000em;
  line-height: 1.618em;
}

.gml-container{
  background:white;
  padding: 20px 40px 40px;
  margin: 0px auto auto 20px;
  box-shadow: 0 5px 5px #333333;
  border-radius: 9px;
}

#header{
  padding-bottom: 1em;
}

.pic-container{
 padding: 0px 0px 0px 0px;
 height: 205px;
 width: 232px;
 margin: 0px 20px 20px 20px;
}

#name-area{
  float: left;
}

#name{
  font-size: 2.188em;
  font-weight: bold;
  line-height: 1.45em;
}

.name-sub{
 font-size: 1.688em;
 line-height: 1.45em;
}

#nav-bar{
  padding-bottom: 1em;
  text-align: center;
}

#nav-bar ul{
 list-style: none;
 margin: auto;
 padding: 0;
}

.tags li { display:inline; padding:0 4px; background:#EEE;}

.tags ul {    list-style-type: none; margin: 0; padding: 0;}

  a:link {
    color: #0000FF;
  }

  a:visited {
    color: #0000FF;
  }

  a:hover {
    color: #0000FF;
  }

  a:active {
    color: #0000FF;
  }

  #nav-bar li{
   display: inline;
   font-size: 1.250em;
   font-weight: bold;
   line-height:1.294em;
 }

 h1{
  font-size: 1.688em;
  font-weight: bold;
  line-height: 0.958em;
}

h2{
  font-size: 1.250em;
  font-weight: bold;
  line-height:1.294em;
}

h3{
  font-size: 1em;
  line-height: 1.618em;
}

#title{
  visible: false;
  font-size: 27px;
}

hr { 
  border-width: 1px;
  border-style: inset;
}