<div id="nav-bar" class= "row">
  <div class="col-md-12">
    <ul>
      <li>
       <a href="{{ site.baseurl }}/"> Home </a>
     </li>
     <li class="middot">.</li>
     <li>
       <a href="{{ site.baseurl }}/bio"> Bio </a>
     </li>
     <li class="middot">.</li>
     <li>
       <a href="{{ site.baseurl }}/research"> Research </a>
     </li>
     <li class="middot">.</li>
     <li>
       <a href="{{ site.baseurl }}/projects"> Projects </a>
     </li>
     <li class="middot">.</li>
     <li>
       <a href="{{ site.baseurl }}/publications"> Publications </a>
     </li> 
     <li class="middot">.</li>
     <li>
       <a href="{{ site.baseurl }}/blog"> Blog </a>
     </li>
   </ul>
 </div>
</div>