<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{% if page.title %}{{ page.title }} {% else %}{{ site.name }} {% endif %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/gml.css">
 </head>
  <!-- include some.css and bootstrap -->
  <body class="gml-body">
    <div class="gml-container">
      <div id= "header">
       <div class="row">
        <div id="name-area" class="col-xs-8">
          <div id="name">{% if page.title %}{{ page.title }} {% else %}{{ site.name }} {% endif %} </div>
          {% if page.title == null %}
          <div class="name-sub">Ph.D. Student</div>
          {% endif %}
        </div>
      </div>
      <div id="nav-bar">
      <ul>
        <li>
         <a href="{{ site.baseurl }}/"> Home </a>
        </li>
        <li class="middot">.</li>
        <li>
         <a href="{{ site.baseurl }}/bio"> Bio </a>
        </li>
        <li class="middot">.</li>
        <li>
         <a href="{{ site.baseurl }}/research"> Research </a>
        </li>
        <li class="middot">.</li>
        <li>
         <a href="{{ site.baseurl }}/publications"> Publications </a>
        </li> 
        <li class="middot">.</li>
        <li>
         <a href="{{ site.baseurl }}/blog"> Blog </a>
        </li>
      </ul>
      </div>
</div>
	  {{ content }}
    </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>